<!DOCTYPE html>
<html>
  <%-include("./partials/head.ejs") %>
  <body class="min-h-screen flex flex-col">
    <%-include("./partials/navbar.ejs") %>
    <section class="px-4 py-8 lg:py-16 flex-1">
      <h1><%= blog.title %></h1>
      <div>
        <a href="/blogs">All Blogs</a>
        <a href="/blogs/edit/<%= blog.id %>">Edit</a>
      </div>
      <div><%- blog.sanitizedHtml %></div>
    </section>
    <%-include("./partials/footer.ejs") %>
  </body>
</html>
