<!DOCTYPE html>
<html>
  <%-include("./partials/head.ejs") %>
  <body>
    <%-include("./partials/navbar.ejs") %>
    <h2 class="blog-title">All Blogs</h2>
    <div class="blog-container container">
      <% if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
      <div class="blog-card">
        <div class="content">
          <div class="title"><%= blog.title %></div>
          <div class="snippet"><%= blog.snippet %></div>
          <a href="/blogs/<%= blog.slug %>" class="read-more">Read More</a>
          <form action="/blogs/<%= blog.id%>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>
        </div>
      </div>
      <% }) %> <% } else { %>
      <p>There is no blog to display</p>
      <% } %>
    </div>
    <%-include("./partials/footer.ejs") %>
  </body>
</html>
