<!DOCTYPE html>
<html>
  <%-include("./partials/head.ejs") %>
  <body>
    <%-include("./partials/navbar.ejs") %>
    <h2 class="blog-title">All Blogs</h2>
    <div class="blog-container container">
      <% if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
      <div class="blog-card">
        <div class="content">
          <div class="title"><%= blog.title %></div>
          <div class="snippet"><%= getSnippet(blog.blog) %></div>
          <a href="#" class="read-more">Read More</a>
        </div>
      </div>
      <% }) %> <% } else { %>
      <p>There is no blog to display</p>
      <% } %>
    </div>
    <%-include("./partials/footer.ejs") %> <% function getSnippet(str) { const
    words = str.split(" "); if (words.length <= 30) { return words.join(" "); }
    else { return `${words.slice(0, 30).join(" ")}....`; } } %>
  </body>
</html>
