<!DOCTYPE html>
<html>
  <%-include("./partials/head.ejs") %>
  <body class="min-h-screen flex flex-col">
    <%-include("./partials/navbar.ejs") %>
    <section class="px-4 py-8 lg:py-16 flex-1">
      <h1>Edit blog</h1>
      <form action="/blogs/<%= blog.id %>?_method=PUT" method="POST">
        <%-include("./partials/formField.ejs") %>
      </form>
    </section>
    <%-include("./partials/footer.ejs") %>
  </body>
</html>
