<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs") %>
  <body class="min-h-screen flex flex-col">
    <%-include("./partials/navbar.ejs") %>

    <section class="text-[#181826] flex-1">
      <div
        class="md:grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12"
      >
        <div class="mr-auto hero-text place-self-center lg:col-span-7">
          <h1
            class="max-w-2xl mb-4 text-4xl font-extrabold md:text-5xl xl:text-6xl"
          >
            Unlocking the
            <span class="text-[#13E4E4]">Secrets</span>
            of Web Development
          </h1>
          <p class="max-w-2xl mb-6 font-light md:text-lg lg:text-xl">
            Welcome to my blog's! Here you will find tips, tricks and unique
            insights on the latest technologies and trends in the industry to
            help you improve you skills and stay ahead of the curve. Join me on
            this journey to unlock the secrets of web development and evolve
            with technology.
          </p>
        </div>
        <div class="lg:mt-0 lg:col-span-5 lg:flex">
          <img src="/img/hero.jpg" alt="A beautiful landscape" />
        </div>
      </div>
    </section>

    <section class="lg:px-12">
      <div class="px-4 py-8 mx-auto lg:py-16 xl:max-w-[1440px]">
        <% if (blogs.length > 0) { %>
        <h1>Latest blog postings</h1>
        <div
          class="grid gap-4 grid-cols-1 lg:gap-8 md:grid-cols-2 lg:grid-cols-3"
        >
          <% blogs.forEach(blog => { %>
          <div
            class="border border-[#13E4E4] rounded-lg shadow-md hover:shadow-lg hover:scale-[1.012] p-4 transition-all transition-200"
          >
            <div class="mb-4">
              <h3 class="font-bold text-lg md:text-xl lg:text-3xl">
                <%= blog.title %>
              </h3>
              <span class="text-gray-500"
                ><%= blog.createdAt.toLocaleDateString() %></span
              >
            </div>
            <p class="font-light"><%= blog.snippet %></p>
          </div>
          <% }) %>
        </div>
        <% } else { %>
        <p>Sorry, we don't have any blog to display right now.</p>
        <% } %>
      </div>
    </section>

    <%-include("./partials/footer.ejs") %>
  </body>
</html>
